<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Home Page";
    Layout = "";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("../../Content/Images/background.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .float-right {
            float: right;
            margin-right: 50px;
            margin-top: 20px;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: red;
            border-radius: 10px;
        }
    </style>
</head>
<body>

    <div class="bg">     @Html.Partial("_LoginPartial")</div>
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
