
@{
    ViewBag.Title = "AddMp3";
}

<h2>Add Music to the Database</h2>

<link rel="stylesheet" href="~/Content/AddMp3.css">
<div class="col-md-12">
    <div class="col-md-8" id="addmp3section">
        <div class="form-group input-group">
            <input type="hidden" id="filename" name="filename" value="">
            <input type="file" id="FileUpload1" name="uploadedFile" class="form-control form-control-sm">
        </div>
        <div class="form-group">
            <label for="songTitle">Song Title</label>
            <input type="text" class="form-control" id="songTitle"placeholder="Enter song title">
        </div>
        <div class="form-group">
            <label for="singer">Singer</label>
            <input type="text" class="form-control" id="singer"  placeholder="Enter song title">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="button" id="btnUpload" value="Upload Files" />
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnUpload').click( function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var songTitle = $("#songTitle");
                var singer = $("#singer");

                console.log(songTitle.val());
                console.log(singer.val());

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                fileData.append("songTitle", songTitle.val());
                fileData.append("singer", singer.val());

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                 var url = '@Url.Action("AddMusic", "Music")'
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
</script> 